[Unit]
Description=Dog Heater
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/repos/dog-heater/main.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
